
.DS_Store
build/
test-build/
new-test.txt
.cache/
**/jit-compiler*/**build*/
**/aot-compiler*/**build*/
**/repl/**build*/
temp
compile_commands.json
.fw_dependencies/
.fw_dependencies_debug/
.fw_dependencies_release_bak/
.fw_dependencies_debug_bak/
.vs