/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  /* Light mode colors */
  --ifm-color-primary: #004d66;
  --ifm-color-primary-dark: #00455c;
  --ifm-color-primary-darker: #004157;
  --ifm-color-primary-darkest: #003647;
  --ifm-color-primary-light: #005570;
  --ifm-color-primary-lighter: #005975;
  --ifm-color-primary-lightest: #006485;

  --navbar-background-color: rgba(255, 255, 255, 0.203);
}

[data-theme="dark"] {
  /* Dark mode colors */
  --ifm-color-primary: #1b66c1;
  --ifm-color-primary-dark: #9ed5ff;
  --ifm-color-primary-darker: #87cbff;
  --ifm-color-primary-darkest: #42aeff;
  --ifm-color-primary-light: #fafdff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;

  --navbar-background-color: rgba(0, 0, 0, 0.203);
}
