.vscode/**
**/.git*
**/*.map
**/package-lock.json
**/yarn.lock
**/tsconfig*.json
**/.eslintrc*
client/src/**/*.ts
server/src/**
server/sem-test-out/**
LSP_ARCHITECTURE_ANALYSIS.md
TESTING.md
